<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
	
<listeners>
  <listener class-name="skillbox.GenericUtilities.AnnotationTransformer"></listener>
</listeners>
  
  <test thread-count="5"  name="Test">
	 
    <classes>
      <class name="skillbox.PunchSalesTest.PunchSalesTest"/> 
      <class name="skillbox.CreateDiyTest.CreateDiyTest"/>   
      <class name="skillbox.CreateProfileWithProfileCompleteTest.SignUpArtistTest"/>
      <class name="skillbox.CreateProfileWithProfileCompleteTest.SignUpBusinessTest"/>
      <class name="skillbox.CreateProfileWithProfileCompleteTest.SignUpFanTest"/>
      <class name="skillbox.CreatePromoterAndWalkin.CreatePromoterAndWalkinTest"/>
      <class name="skillbox.EventBookTest.AddOnEventBookTest"/>
      <class name="skillbox.EventBookTest.FreeEventBookTest"/>
      <class name="skillbox.EventBookTest.PaidEventBookTest"/>
      <class name="skillbox.FeedsTest.FeedsTest"/> 
          
    </classes>
  </test> <!-- Test -->
  
 
  
</suite> <!-- Suite -->
		